* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}
a{
  transition: all ;
}
.container {
  width: 100%;
  height: 100vh;
  background: url("../john-doe/johndoe/public_html/assets/imgs/header.jpg");
  background-size: cover;
  color: #fff;
}
header {
  height: 600px;
  background-color: rgba(0, 0, 0, 0.7);
}
header .head_content {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 200px;
}
.icons {
  width: 220px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
.head_content .icons a {
  color: #fff;
}
.head_content .intro {
  font-family: sans-serif;
  height: 200px;
  display: flex;
  text-transform: capitalize;
  flex-direction: column;
  justify-content: space-between;
}
.head_content .intro h5 {
  font-size: 40px;
}
.head_content .intro h3 {
  font-size: 100px;
  color: rgb(246, 246, 246);
}
.head_content .intro h6 {
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 5px;
}
.head_content .resume_button {
  font-size: 22px;
  letter-spacing: 2px;
}
.head_content .resume_button button {
  background: rgb(247, 64, 95);
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
}
.head_content .resume_button button:hover {
  background-color: rgb(251, 34, 70);
}

.head_content .resume_button button .print_icon {
  margin-right: 10px;
  font-size: 22px;
}

.body {
  background-color: #fff;
  color: black;
}
.navbar {
  display: flex;
  position: sticky;
  top:0;
  background-color: #fff;
  justify-content: space-around;
  box-shadow: 0px 2px 2px 2px gray;
}
.navbar ul {
  align-items: center;
  padding: 20px 20px;
  display: flex;
  background-color: #fff;
  justify-content: space-evenly;
}
.navbar ul li a {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(37, 37, 37);
  text-transform: capitalize;
}
.navbar ul li a:hover {
  opacity: 0.8;
}
.navbar img {
  width: 150px;
  position: absolute;
  margin-top: -55px;
  border: 10px solid #fff;
  border-radius: 100%;
  box-shadow: 0px 2px 2px 2px rgb(162, 162, 162);
}

.info {
  display: flex;
  height: 500px;
}
.info .info_content {
  border: 1px solid rgba(128, 128, 128, 0.504);
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.heading {
  font-size: 34px;
  font-weight: 400;
  border-bottom: 2px solid rgb(255, 70, 101);
}
.first_div,
.middle_div,
.third_div {
  margin: 40px 0px;
  padding: 20px 0px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first_div h5,
.third_div h5 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0px;
}
.info_content button {
  padding: 10px 20px;
  border: 1px solid rgb(255, 70, 101);
  background-color: #fff;
  color: rgb(255, 70, 101);
  border-radius: 5px;
  width: fit-content;
}
.personal_contact p span {
  font-weight: bold;
  color: #000;
}
.personal_contact p {
  color: rgb(92, 92, 92);
  line-height: 30px;
}
.info_content .icons a {
  color: rgb(254, 44, 79);
  margin: 50px 0px 0px 0px;
}
.third_div .fa {
  color: rgb(254, 44, 79);
  padding: 20px;
  font-size: 24px;
}
.info_content .third_div .row {
  display: flex;
  align-items: center;
}

/* resume sectioon  */
/* .section {
  border: 2px solid green;
} */
.section .sub_section {
  background-color: #fff;
  margin: 80px 200px;
  /* border: 2px solid red; */
}
.sub_section .resume_content {
  display: flex;
}
.section .sub_section h1 {
  padding: 50px 0px;
  font-weight: 500;
  font-size: 40px;
}
.section .sub_section h1 span {
  color: rgb(254, 44, 79);
}
.sub_content {
  padding: 12px;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.779);
  flex: 1;
}
.sub_content .data {
  border-bottom: 1px solid rgba(128, 128, 128, 0.571);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
}

.data h4 {
  color: rgb(254, 44, 79);
  font-size: 22px;
  font-weight: 500;
}
.data p,
.data span {
  font-size: 15px;
  color: rgb(108, 107, 107);
}
.sub_content .mini_menu .mini_menu_content {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.mini_menu{
  margin-bottom: 12px;
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mini_menu_content span {
  margin: 15px 0px;
  font-size: 20px;
  color: rgb(72, 71, 71);
}
.mini_menu_content progress {
  width: 100%;
  height: 10px;
  background-color: transparent;
}

.mini_menu_content progress::-webkit-progress-value {
  height: 10px;
  background-color: rgb(254, 44, 79);
}

.black-box {
  height: 200px;
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
}
.black-box .box {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.black-box .box .fa {
  font-size: 100px;
  padding: 5px;
  color: #fff;
  border-right: 2px solid #fff;
}
.black-box .box p {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.black-box .box span {
  color: rgb(254, 44, 79);
  font-weight: 800;
  font-size: 60px;
}

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.services .three {
  display: flex;
}
.services .three .box {
  flex: 1;
  height: 350px;
  border: 1px solid rgb(108, 107, 107);
  padding: 0px 20px;
  margin: 20px 20px;
}
.three .box .fa {
  font-size: 24px;
  color: rgb(247, 64, 95);
  position: relative;
  bottom: 30px;
  padding: 20px 20px;
  background-color: #fff;
}

.black-box .hireme_box {
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  margin: auto;
}
.hireme_box .hireme_button {
  background-color: rgb(247, 64, 95);
  color: #000;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 40px;
  outline: none;
  border: none;
}
.hireme_box .hireme_button:hover {
  background-color: rgb(251, 34, 70);
}

/* my portfolio */
/* my portfolio */
/* my portfolio */

.portfolio {
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.column{
  border: 1px solid red;
  width: 350px;
  border-radius: 8px;
}
  .first .text {
  background-color: rgb(255, 70, 101);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  color:#fff;
  position: relative;
  top: -101%;
  height: 100%;
  opacity: 0.5;
}
.text h3{
  font-size: 30px;
}
.text p{
  font-size: 16px;
}

.portfolio .web-1,
.web-2,
.web-3,
.web-4 {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  height: 100%;
}

.first:hover{
  position: absolute;
  width:200px;
}
/* .second_column{
  border: 1px solid red;
    width: 350px;
    height: 530px;
    border-radius: 8px;
} */
.portfolio .second_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
  width: 350px;
  border-radius: 8px;
}
/* .web-3{
  height: 300px;
}*/
.web-4 {
  height: 300px;
}

/* blog */
/* blog */
/* blog */

.news_row{
  width:100%;
  border:1px solid gray;
  display: flex;
  margin-top:10px;
}
.news_row .img{
  width:70%;
  /* border:2px solid red; */
}
.img img{
  width:100%;
  height: 100%;
}
.news_text{
  padding:20px;
  opacity: 0.8;
  font-size: 16px;
}
.news_row h3{
  font-size: 24px;
}
.news_text span{
  font-weight: bold;
  display: block;
}
.news_text a{
  color:rgb(247, 64, 95)
}






    /* forms */
    /* forms */
    /* forms */
.query_box_main {
  background-color: rgb(52, 10, 53);
  padding: 40px 200px;
}
.query_box {
  display: flex;
  justify-content: space-between;
  background: transparent;
  /* border: 2px solid red; */
}
.query_box .message_form {
  display: flex;
  flex-direction: column;
  padding: 15px 20px 15px 20px;
  margin: 0px 20px 0px 20px;
  /* border: 2px dashed #037e03; */
  background-color: #fff;
}
.query_box .message_form .form {
  /* border:2px solid #ff0; */
  padding: 20px 0px;
  height: 100%;

  width: 100%;
}
.query_box .message_form input {
  padding: 15px;
  width: 92%;
  margin: 15px 0px 0px 0px;
  border-radius: 5px;
  border: 2px solid gray;
}

.message_form textarea {
  height: 180px;
  width: 92%;
  max-width: 92%;
  min-width: 92%;
  margin: 20px 0px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 15px;
  outline: none;
}
.message_form .submit_button {
  width: 96%;
  padding: 10px 0px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: rgb(255, 70, 101);
  outline: none;
  border: none;
  border-radius: 5px;
}
.message_form .submit_button:hover {
  background-color: rgb(254, 44, 79);
}

.contact {
  background-color: #fff;
  /* border: 2px dashed blue; */
  display: flex;
  width: 320px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 400px;
}
.contact .personal_contact {
  font-size: 20px;
  font-weight: 400;
}
.personal_contact .contact_row {
  display: flex;
  /* border: 1px solid #f0f; */
  padding: 3px;
}
.personal_contact .contact_row span {
  display: block;
}
.personal_contact .contact_row .fa {
  padding: 15px;
  font-size: 25px;
}
.contact .icons a {
  color: #000000;
}

footer {
  background: #17263c;
  width: 100%;
}
.sub_footer {
  /* border:2px solid red; */
  padding: 30px 200px;
  color: #fff;
}
.sub_footer p span {
  color: rgb(254, 44, 79);
}